<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>N</key>
		<integer>15</integer>
		<key>T</key>
		<integer>-25</integer>
		<key>V</key>
		<integer>-75</integer>
		<key>Y</key>
		<integer>-25</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>E</key>
		<integer>-5</integer>
		<key>K</key>
		<integer>-30</integer>
		<key>M</key>
		<integer>-25</integer>
		<key>S</key>
		<integer>-25</integer>
		<key>T</key>
		<integer>-25</integer>
		<key>V</key>
		<integer>-15</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
		<key>M</key>
		<integer>-15</integer>
		<key>O</key>
		<integer>15</integer>
		<key>V</key>
		<integer>-25</integer>
		<key>X</key>
		<integer>-15</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-90</integer>
		<key>C</key>
		<integer>-45</integer>
		<key>I</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-15</integer>
		<key>K</key>
		<integer>-25</integer>
		<key>M</key>
		<integer>-55</integer>
		<key>N</key>
		<integer>-25</integer>
		<key>O</key>
		<integer>-28</integer>
		<key>Q</key>
		<integer>-25</integer>
		<key>R</key>
		<integer>-25</integer>
		<key>S</key>
		<integer>-22</integer>
		<key>X</key>
		<integer>-10</integer>
		<key>Z</key>
		<integer>-20</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>N</key>
		<integer>15</integer>
		<key>O</key>
		<integer>15</integer>
		<key>T</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-15</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>A</key>
		<integer>-15</integer>
		<key>M</key>
		<integer>-15</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
		<key>M</key>
		<integer>-25</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-90</integer>
		<key>U</key>
		<integer>-25</integer>
		<key>V</key>
		<integer>-120</integer>
		<key>Y</key>
		<integer>-55</integer>
		<key>Z</key>
		<integer>-45</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>B</key>
		<integer>25</integer>
		<key>C</key>
		<integer>15</integer>
		<key>D</key>
		<integer>25</integer>
		<key>E</key>
		<integer>15</integer>
		<key>F</key>
		<integer>25</integer>
		<key>G</key>
		<integer>15</integer>
		<key>N</key>
		<integer>15</integer>
		<key>O</key>
		<integer>25</integer>
		<key>P</key>
		<integer>10</integer>
		<key>Q</key>
		<integer>25</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>W</key>
		<integer>15</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>A</key>
		<integer>-25</integer>
		<key>J</key>
		<integer>-15</integer>
		<key>K</key>
		<integer>-5</integer>
		<key>M</key>
		<integer>-25</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>E</key>
		<integer>-10</integer>
		<key>L</key>
		<integer>-5</integer>
		<key>M</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-35</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>B</key>
		<integer>15</integer>
		<key>L</key>
		<integer>15</integer>
		<key>O</key>
		<integer>5</integer>
		<key>Z</key>
		<integer>-25</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>J</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>Z</key>
		<integer>-10</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>G</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-22</integer>
		<key>L</key>
		<integer>25</integer>
		<key>O</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-10</integer>
		<key>U</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-45</integer>
		<key>Z</key>
		<integer>-15</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>A</key>
		<integer>-5</integer>
		<key>G</key>
		<integer>15</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-35</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>M</key>
		<integer>-25</integer>
		<key>Z</key>
		<integer>-15</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>D</key>
		<integer>15</integer>
		<key>E</key>
		<integer>35</integer>
		<key>L</key>
		<integer>15</integer>
		<key>M</key>
		<integer>-25</integer>
		<key>O</key>
		<integer>15</integer>
		<key>P</key>
		<integer>25</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
		<key>M</key>
		<integer>-15</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-30</integer>
		<key>M</key>
		<integer>-25</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>F</key>
		<integer>25</integer>
		<key>G</key>
		<integer>10</integer>
		<key>O</key>
		<integer>25</integer>
		<key>R</key>
		<integer>15</integer>
		<key>V</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
